@model List<WebPageResultViewModel>
@{
    ViewBag.Title = "Result";
}

<div class="content__result result">
    <div class="result__chart-block block block--inside">
        <a class="result__exit link" asp-action="Index">Exit</a>
        <div class="result__chart-wrapper">

        </div>
    </div>
    <div class="result__table-block block block--inside">
        <div class="result__table-wrapper">
            <table class="result__table table">
                <thead class="table__head">
                    <tr><th>Id</th><th>URI</th><th>Min</th><th>Max</th></tr>
                </thead>
                <tbody class="table__body">
                    @for (int i = 0; i < Model.Count; i++)
                    { 
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model[i].Host@Model[i].Path</td>
                            <td>@Model[i].MinResponseTime<text>ms</text></td>
                            <td>@Model[i].MaxResponseTime<text>ms</text></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chartjs/Chart.min.js"></script>
}